body{
    background-color: white;
    text-align: center;
    margin: 0px;
}

.image1{
    width: 100%;
    margin: 0px;
    max-width: 600px;
}

.image2{
    margin: 0px;
    width: 60%;
    max-width: 600px;
}

.divBlanco{
    background-color: white;
    height: 500px;
}
.divNegro{
    background-color: black;
}